@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Poppins:400,300,600,700,500);

#index-view{
	height: 528px;
	width: 670px;
}

#stats{
	width: 100%;
	background-color: #4671fb;
	height: auto;
	overflow: hidden;
}

#inner-stats{
	width: 1280px;
	background-color: #4671fb;
}

#left-stats{
	height: auto;
	overflow: hidden;
	float: left;
	background-color: red;
	width: 680px;
}

#right-stats{
	width: 600px;
	float:right;
	height: auto;
	overflow: hidden;
}
.diag-border{
	height: 0px;
	border-width: 0 0 30px 1280px;
	border-style: solid;
   	border-color: transparent #4671fb #4671fb transparent;
   	z-index: 0;
}

.diag-border-bottom{
	height: 0;
	border-width: 30px 1280px 0px 0px;
	border-style: solid;
	border-color: #4671fb transparent #4671fb transparent;
	margin-bottom: 20px;
	z-index: 0;
}

#left-picture{
	width: 50%;
	overflow: hidden;
	height: 100%;
	float: right;
}

#right-login{
	width: 50%;
	overflow: hidden;
	float: left;
}

#login-form{
	width: 228px;
	height: 242px;
	text-align: left;
}

.wide-width{
	width: 1000px;
	height: auto;
	overflow: hidden;
	padding-bottom: 10px;
}

#allcoursecards .course-card:nth-child(4n){
	margin-right: 0px;
}

#dash-cards .course-card:nth-child(4n){
	margin-right: 0px;
}

#dash-cards{
	height: auto;
	overflow: hidden;
}

#dash-cards .course-card{
	color: #555;
}

#dash-cards .course-card:hover{
	background-color: #ededed;
	transition: background-color .15s ease-in-out;
}

#dash-cards .course-card:active{
	background-color: #e2e2e2;
	color: black;
}

#dash-cards .course-card:visited{
	color: #555;
}
.profileCard{
	width: 490px;
	height: 200px;
	background-color: #f8f8f8;
	float: left;
}
/*
		.shape {
		    width: 100%;
		    margin: 0 auto;
		    margin-top: 45px;
		    z-index: 9;
		    float: left;
		    height: 400px;
		}

		.shape2 {
		    width: 640px;
		    margin: 0 auto;
		    margin-top: 25px;
		    z-index: 9;
		    float: right;
		}

		.final2 {
			height: 0;
		    border-width: 20px 640px 0px 0px;
		    border-style: solid;
		    border-color: #4671fb transparent #4671fb transparent;
		    margin-bottom: 20px;
		}

		.bottom2 {
		    height: auto;
		    overflow: hidden;
		    background-color: #4671fb;
		    padding-bottom: 35px;
		    padding-top: 35px;
		}

		.top {
		    height: 0;
		    border-width: 0 0 20px 640px;
		    border-style: solid;
		    border-color: transparent #e8e8e8 #e8e8e8 transparent;
		}

		.final {
			height: 0;
		    border-width: 20px 640px 0px 0px;
		    border-style: solid;
		    border-color: #e8e8e8 transparent #e8e8e8 transparent;
		    margin-bottom: 20px;
		}

		.bottom {
		    height: 391px;
		    overflow: hidden;
		    background-color: #e8e8e8;
		    padding-bottom: 35px;
		    padding-top: 35px;
		}

		* html .top {
		    filter:	chroma(color=#123456);
		    border-top-color: #123456;
		    border-left-color: #123456;
		}
*/